body {
    background-color: rgb(142, 161, 178);
}

.circle1 {
    bottom: 100px;
    left: 550px;
    top: 50px;
    position: relative;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.login-bar {
    position: relative;
    left: 550px;
    top: 80px;
    width: 500px;
    height: 10px;
    background-color: rgb(80, 181, 147);
}


.circle2 {
    position: center;
    bottom: 100px;
    left: 1000px;
    top: 0px;
    position: relative;
    background-color: rgb(227, 227, 227);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.text1 {
    left: 566px;
    position: relative;
    bottom: 45px;
    font-size: 30px;
    font-family: monospace;
}

.text2 {
    left: 1015px;
    position: relative;
    bottom: 79px;
    font-size: 30px;
    font-family: monospace;
}

.loginbox {
    background-color: rgb(248, 247, 247);
    width: 500px;
    height: 500px;
    position: relative;
    left: 550px;
    border-radius: 10px;
}

h1 {
    font-family: fantasy;
    left: 725px;
    position: relative;
    bottom: 550px;
    font-size: 60px;
}

.email {
    left: 640px;
    bottom: 390px;
    position: relative;
    font-size: 20px;
    background-color: rgb(217, 214, 214);
    width: 350px;
    height: 25px;
    border-radius: 10px;
}


p {
    left: 560px;
    bottom: 570px;
    position: relative;
    font-size: 20px;
    font-family: monospace;
}

p1 {
    left: 550px;
    bottom: 500px;
    position: relative;
    font-size: 20px;
    font-family: monospace;
}


.password {
    left: 290px;
    bottom: 275px;
    position: relative;
    font-size: 20px;
    background-color: rgb(217, 214, 214);
    width: 350px;
    height: 25px;
    border-radius: 10px;
}

.login {
    left: 745px;
    bottom: 375px;
    position: relative;
    height:20px;
    width:100px;
    border-radius: 5px;
    border-color: aliceblue;
}